.AccountCreate{

    background-color: white;
    border: 1px solid black;
    width: 450px;
    height: 570px;
    text-align: center;
    padding: 15px;
    background: -webkit-linear-gradient(left top,red,orange,purple); 
    border-radius: 50px;   
}
.hyper{

    margin-top: 1px;
}
.Name{

    margin-right: 170px;
    height: 10px;
    padding: 10px;
}
.email{

    margin-top: 5px;
    margin-right: 170px;
    height: 10px;
    padding: 10px;
}
.password{

    margin-top: 5px;
    margin-right: 150px;
    height: 10px;
    padding: 10px;

}
.ConfirmPassword{

    margin-right: 90px;
    height: 10px;
    padding: 10px;

}
.Nametext{

    width: 200px;
    height: 20px;
    padding: 5px;
    border-radius:20px;
}
.emailtext{

    width: 200px;
    height: 20px;
    padding: 5px;
    border-radius:20px;
}
.passwordtext{

    width: 200px;
    height: 20px;
    padding: 5px;
    border-radius:20px;
}
.ConfirmPasswordtext{

    width: 200px;
    height: 20px;
    padding: 5px;
    border-radius:20px;
}
.button{

    margin-top: 15px; 
    padding: 7px;
    width: 100px;
    border-radius: 15px;
}
.button:hover{

    background-color: blue;
}