.body{

background-color: red;
padding: 55px;
}
.Login{

    background-color: white;
    border: 1px solid black;
    width: 400px;
    height: 420px;
    text-align: center;
    padding: 20px;
    background: -webkit-linear-gradient(left top,red,orange,purple); 
    border-radius: 55px;   
}
.email{

    margin-top: 40px;
    margin-right: 170px;
    height: 15px;
    padding: 10px;
}
.password{

    margin-top: 13px;
    margin-right: 150px;
    padding: 10px;

}
.emailtext{

    width: 200px;
    height: 25px;
    padding: 5px;
    border-radius:20px;
}
.passwordtext{

    width: 200px;
    height: 25px;
    padding: 5px;
    border-radius:20px;
}
.forgot{

    margin-top: 25px; 
    margin-right: 100px;

}
.button{

    margin-right: 0px;
    margin-top: 30px; 
    padding: 7px;
    width: 100px;
    border-radius: 15px;
}
.button:hover{

    background-color: blue;
}
