body{

    background-color: red;
    padding: 25px;
}
.Password{

    background-color: white;
    border: 1px solid black;
    width: 440px;
    height: 510px;
    text-align: center;
    padding: 15px;
    background: -webkit-linear-gradient(left top,red,orange,purple); 
    border-radius: 60px;   
}

.NewPassword{

    margin-top: 10px;
    margin-right: 90px;
    padding: 10px;
}
    
.ConfirmNewPassword{

    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}
    
.NewPasswordtext{

    width: 200px;
    height: 25px;
    padding: 5px;
    border-radius:20px;
}
    
.ConfirmNewPasswordtext{

    width: 200px;
    height: 25px;
    padding: 5px;
    border-radius:20px;
}
    
.button{

    margin-right: 0px;
    margin-top: 40px; 
    padding: 7px;
    width: 100px;
    border-radius: 15px;
}
    
.button:hover{
    
    background-color: blue;
}
    