<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" th:href="@{../CSS/emailpage.css}">
    
    <script th:inline="javascript">
    
            function showAlert() {
            var message = [[${message}]];
        	if (message) {
            		alert(message);
        		}
        	}    
    </script>
</head>
<body>
    <center>
        <form 
        class="email" action="/password"
        th:action="@{/email}" method="post" role="form" th:object="${user}"
        >

            <h1>Email</h1>
                        
            <p>Enter your email address and we will send you instructions to reset your password.</p>
            
            <div class = "emailpage">
              <label for="username">E-mail</label>
            </div>  
            <input th:field="*{username}" type="email" placeholder="Email" name="username" size="25" class="emailtext">

            <div>
              <button onclick="showAlert()" type="submit" class="button">Send OTP</button>
            </div>


            <div>
                <p>Don you have an account? <a href="/login">Login</a></p>
            </div>

        </form>
</center>
</body>
</html>