<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" th:href="@{../CSS/otppage.css}">
    
     <script th:inline="javascript">
    
            function showAlert() {
            var message = [[${message}]];
        	if (message) {
            		alert(message);
        		}
        	}    
    </script>
</head>
<body>
    <center>
        <form 
        id="otp" class="otp" action="/password"
        th:action="@{/otp}" method="post" role="form" th:object="${user}"
        >

            <h1>OTP Verification</h1>
            <br>
                        
            <p>Enter your otp number and set new password</p>
            
            <div class = "otppage">
              <label for="otp">Enter OTP number</label>
            </div>  
            <input th:field="*{otp}" type="number" placeholder="otp" name="otp" size="25" class="otptext">
			
			<div>
               <button onclick="showAlert()" class="button">Verify</button>
			</div>

        </form>
        
</center>
</body>
</html>