<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" th:href="@{../CSS/passwordpage.css}">
    
    <script th:inline="javascript">
    
            function showAlert() {
            var message = [[${message}]];
        	if (message) {
            		alert(message);
        		}
        	}    
    </script>
</head>
<body>
	
    <center>
		 <form  
			action="/backtologin"
			th:action="@{/password}" method="post" role="form" th:object="${user}"
		>
		
        <div class="Password">
        
        <h1>New Password</h1>
                
        <p>Please set up your new credentials in order to log in.<br>Your new password must:<br><br>• Have at least one uppercase and lowercase<br>• Have at least 8 characters<br>• Have at least one number<br>• Have at least one symbol
               
			<div class="NewPassword">
            	<label for="password">New Password</label>
          	</div>
          	<input th:field="*{password}" type="password" id="password" name="password" placeholder="Password" class="NewPasswordtext" min=8 max=20 Strong="password">

			 <div class="ConfirmNewPassword">
              <label for="confirmpassword">Confirm New Password</label>
            </div>
              <input th:field="*{confirmpassword}" type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password" class="ConfirmNewPasswordtext" min="8" max="20" Strong="password">
          

            <div>
              <button onclick="showAlert()" type="submit" class="button">Confirm</button>
            </div>
      
        </div>
        </form>
      </center>
</body>
</html>