<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit Page</title>
    <link rel="stylesheet" th:href="@{../CSS/submitpage.css}">
    
</head>
<body bgcolor="#bbcf0e">
<center>
    
    <div class="submit">
        <h3>Application form submitted</h3>
        <p>Thank you<br><br>Your response has been recored</p>
        <p><a href="/form">Submit another response</a></p>
    </div>
    
</center>
</body>
<html>